<!DOCTYPE html>
<html>
<head>
	<meta content="width=device-width, initial-scale=1" name="viewport" />
	<title>Welcome|BKG</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
	<link rel="stylesheet" href="stylesheets/style-login.css">
	<link rel="stylesheet" href="stylesheets/admin.css">
	<script src='https://kit.fontawesome.com/a076d05399.js'></script>
</head>
<body>
	<div class="menu-button menu-button-open d-md-none"><i class="fas fa-angle-right"></i></div>
	<header class="brand-name "><i class="fab fa-centos"></i> BKG Institute of Science and Technology <i class="fas fa-graduation-cap"></i></header>
	<%- body %>
	<center>
		<div class="popup">
			<i class="fas fa-check-circle"></i> succesfully Sent
		</div>
	</center>
    
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
	<script src="javascripts/admin.js"></script>
</body>
</html>

