<div class="row">
    <div class="col-3 col-lg-2 col-md-3 d-none d-sm-block option-bar">
        <button class="btn btn-color welcome-btn menu-btn" for="welcome"><i class="fas fa-home"></i> Welcome</button>
        <button class="btn btn-color push-btn menu-btn" for="push"><i class="fas fa-bell"></i> Push Notification</button>
        <button class="btn btn-color calendar-btn menu-btn" for="calendar"><i class="fas fa-calendar-alt"></i> Calendar</button>
        <button class="btn btn-color time-table-btn menu-btn" for="time-table"><i class="fas fa-clock"></i>  Time Table</button>
        <button class="btn btn-color your-teacher-btn menu-btn" for="your-teacher"><i class="fas fa-upload"></i> Set Exam</button>
        <button class="btn btn-color attendance-btn menu-btn" for="attendance"><i class="fas fa-book-open"></i> Update Attendance</button>
        <button class="btn btn-color reward-btn menu-btn" for="reward"><i class="fas fa-award"></i> Update Marks</button>
        <button class="btn btn-color profile-btn menu-btn" for="profile"><i class="fas fa-user-circle"></i> Profile</button>
    </div>
    <div class="col-md-9 col-lg-10 col-12 main-box">
        <div class="visible-menu" id="welcome">
            Welcome to BKG Institute of Science and Technology.<br><br>
            <h3>Updates and Notification</h3><hr class="hr">
            <div class="get-notification">
                <div class="institute-notification">
                </div>
            </div>
        </div>
        <div class="" id="calendar">
            calendar
            
        </div>
        <div class="" id="time-table">
            time-table
        </div>
        <div class="" id="your-teacher">
            your-teacher
            
        </div>
        <div class="" id="attendance">
            attendance
            
        </div>
        <div class="" id="reward">
            reward
        </div>
        <div id="profile" class="">
            
            <div id="profile-name">
                <i class="fas fa-user-circle font-profile-color"></i> 
                Bikrant Kumar Gupta
                <button class="btn btn-color col-4 col-sm-2 profile-edit-btn">Edit <i class="fas fa-edit"></i></button>
                <button class="btn btn-color col-4 col-sm-2 logout-btn">Logout <i class="fas fa-sign-out-alt"></i></button>
            </div>
            <div class="row  profile-detail-lines">
                <div class="col-md-3 form-margin">
                    <label><i class="fas fa-envelope font-profile-color"></i> Email ID:</label>
                </div>
                <div class="col-md-9 form-margin">
                    <div id="email">bikbikrant1999@gmail.com</div>
                </div>
            </div>
            <div class="row profile-detail-lines">
                <div class="col-md-3 form-margin">
                    <label><i class="fas fa-user font-profile-color"></i> AdminID:</label>
                </div>
                <div class="col-md-9 form-margin">
                    <div id="userid">bikrantadmin1999</div>
                </div>
            </div>
            <div class="row profile-detail-lines">
                <div class="col-md-3 form-margin">
                    <label><i class="fas fa-phone-alt font-profile-color"></i> Phone:</label>
                </div>
                <div class="col-md-9 form-margin">
                    <div id="mobile">7003753089</div>
                </div>
            </div>
            <div class="row profile-detail-lines">
                <div class="col-md-3 form-margin">
                    <label><i class="fas fa-user-tie font-profile-color"></i> Account Type:</label>
                </div>
                <div class="col-md-9 form-margin">
                    <div id="account-type">Admin</div>
                </div>
            </div>
            <div class="row">
                
            </div>
        </div>

    </div>

</div>