$bg-image: linear-gradient(to right,#ee0979,#ff6a00);

*{
	margin:0px;
	padding: 0px;
	box-sizing: border-box;

}
body{
	background-color: #333;
	color:white;
}
.brand-name{
	height: 60px;
	background-image: $bg-image  ;
	font-size:35px;	
	color:white;
	padding: 0px 10% 0px 10%;
	text-align:center;
	
}

.border{
	border: .5px solid black;
}
.radius{
	border-radius: 10px;
}
.login-form{
	/*height: 500px;*/
	margin: 50px 100px 50px 100px;
}
.login-form-header{
	/*background-color: rgb(100,200,100);*/
	background-image: linear-gradient(to right,#ee0979,#ff6a00);
	color:white;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	padding: 10px;
	margin-bottom: 20px;
}
.form-padding{
	padding: 40px;
}
.form-margin{
	margin-bottom: 10px;
}
.btn-color{
	/*background-color: rgb(100,200,100);*/
	background-image: linear-gradient(to right,#ee0979,#ff6a00);
	color: #aaaaaa;

}
.btn-color:hover{
	background-image: linear-gradient(to right,#ff6a00,#ee0979);
}
.btn-sub-color{
	background-image: linear-gradient(to right,#ee09ff,#ff6aaa);
	color:#fff;
}
.btn-sub-color:hover{
	background-image: linear-gradient(#fff,#fff);
	color:#ee09ff;
}
.btn-width{
	width: 25% !important;
}
.error-message{
	color:red;
	/*text-align: center;*/
	border:2px solid red;
	border-radius:10px;
	padding: 5px;
	display: none;
}
.alert-message{
	color:red;
	font-size: 12px;
}
.server-success-reply{
	color:green;
	font-weight: bold;
}
.server-failed-reply{
	color:red;
	font-weight: bold;
}
.visible{
	display: block !important;
}

/*--------------------------------------------------------*/
.institute-notification{
	min-height:100px;
	background-color: #333;
	border:1px solid red;
	border-radius: 10px;
	width:50%;
	/*float: left;*/
}
.notification-name{
	padding: 5px 5px 3px 5px;
	background-image: linear-gradient(to right,#ee0979,#ff6a00);
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}
.notification-msg{
	padding: 5px;
}
.notification-time{
	text-align: right;
	padding: 5px;
}
.option-bar{
	position: sticky;
}